stages:
  - build
  - test
  - pack
  - test-package

.build_template: &build_definition
  stage: build
  tags:
    - docker-trial
  before_script:
    - mkdir -p vendor/apt
    - mv vendor/dub /root/.dub || true
    - apt-get update || true
    - apt-get -o dir::cache::archives="vendor/apt" install -y libevent-dev libssl-dev
  after_script:
    - mv /root/.dub vendor/dub || true
  artifacts:
    paths:
      - trial
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - vendor/apt
      - vendor/dub

.test_template: &test_definition
  stage: test
  tags:
    - docker-trial
  before_script:
    - mkdir -p vendor/apt
    - mv vendor/dub /root/.dub || true
    - apt-get update || true
    - apt-get -o dir::cache::archives="vendor/apt" install -y libevent-dev libssl-dev
    - mv trial /usr/local/bin
  after_script:
    - mv /root/.dub vendor/dub || true
  script:
    - trial
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - vendor/apt
      - vendor/dub
  dependencies:
      - dmd-ubuntu

dmd-ubuntu:
  <<: *build_definition
  image: dlanguage/dmd:2.080.0
  script:
    - dmd --version
    - dub --version
    - dub build :runner --build release

build-ldc:
  <<: *build_definition
  image: dlanguage/ldc:1.9.0
  script:
    - ldc2 --version
    - dub --version
    - dub build :runner --build release

dmd-fedora:
  stage: build
  image: fedora:28
  tags:
    - docker-trial
  before_script:
    - mv vendor/dnf /var/cache/dnf || true
    - mv vendor/dub /root/.dub || true
    - dnf install -y openssl-devel libcurl-devel wget
    - mkdir -p vendor/rpm
    - cd vendor/rpm
    - ls dmd-2.080.1-0.fedora.x86_64.rpm || wget http://downloads.dlang.org/releases/2.x/2.080.1/dmd-2.080.1-0.fedora.x86_64.rpm
    - dnf install -y dmd-2.080.1-0.fedora.x86_64.rpm
    - cd ../..
  script:
    - dmd --version
    - dub --version
    - dub build :runner --build release --override-config vibe-d:tls/openssl-1.1
    - mv trial trial-fedora
  after_script:
    - mv /var/cache/dnf vendor/dnf || true
    - mv /root/.dub vendor/dub || true
  artifacts:
    paths:
      - trial-fedora
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - vendor/rpm
      - vendor/dnf
      - vendor/dub

trial-dmd-2.080.0:
  <<: *test_definition
  image:
    name: dlanguage/dmd:2.080.0
    entrypoint: [""]
  script:
    - trial --coverage
  artifacts:
    paths:
      - .trial

trial-ldc-1.9.0:
  <<: *test_definition
  image:
    name: dlanguage/ldc:1.9.0
    entrypoint: [""]
  artifacts:
    paths:
      - .trial
 
trial-dmd-2.079.1:
  <<: *test_definition
  only:
    - tags
    - master
  image:
    name: dlanguage/dmd:2.079.1
    entrypoint: [""]

trial-ldc-1.8.0:
  <<: *test_definition
  only:
    - tags
    - master
  image:
    name: dlanguage/ldc:1.8.0
    entrypoint: [""]

trial-dmd-2.078.3:
  <<: *test_definition
  only:
    - tags
    - master
  image:
    name: dlanguage/dmd:2.078.3
    entrypoint: [""]

trial-ldc-1.7.0:
  <<: *test_definition
  only:
    - tags
    - master
  image:
    name: dlanguage/ldc:1.7.0
    entrypoint: [""]

trial-dmd-2.077.1:
   <<: *test_definition
   image:
     name: dlanguage/dmd:2.077.1
     entrypoint: [""]

trial-ldc-1.6.0:
   <<: *test_definition
   image:
     name: dlanguage/ldc:1.6.0
     entrypoint: [""]

examples:
   <<: *test_definition
   image:
     name: dlanguage/dmd:2.080.0
     entrypoint: [""]
   script:
     - cd examples/spec
     - trial
     - cd ../unittest
     - trial
     - cd ../test-class
     - trial
     - cd ../..

linux-packages:
  stage: pack
  only:
    - tags
  tags:
    - docker-trial
  image:
    name: dlanguage/dmd:2.080.0
    entrypoint: [""]
  dependencies:
      - dmd-ubuntu
      - dmd-fedora
  script:
    - apt-get update -y
    - apt-get install -y ruby ruby-dev rubygems build-essential libevent-dev rpm
    - gem install --no-ri --no-rdoc fpm
    - fpm --version
    - ls -lsah
    - pwd
    - ./trial --version
    - mkdir -p tmp/ubuntu/usr/local/bin
    - mkdir -p tmp/fedora/usr/local/bin
    - cp trial tmp/ubuntu/usr/local/bin
    - cp trial-fedora tmp/fedora/usr/local/bin/trial
    - cd tmp
    - fpm -s dir -t deb -n trial -v $CI_COMMIT_REF_NAME --license MIT -m szabobogdan3@gmail.com --url "http://trial.szabobogdan.com" --description "The extensible test runner for DLang" -d "libssl1.0.0 > 0" ./ubuntu/usr/local/bin/=/usr/local/bin
    - fpm -s dir -t rpm -n trial -v $CI_COMMIT_REF_NAME --license MIT -m szabobogdan3@gmail.com --url "http://trial.szabobogdan.com" --description "The extensible test runner for DLang" --depends "compat-openssl10" ./fedora/usr/local/bin/=/usr/local/bin
    - cd ..
  artifacts:
    paths:
      - tmp/*.rpm
      - tmp/*.deb

master-linux-packages:
  stage: pack
  only:
    - master
  tags:
    - docker-trial
  image:
    name: dlanguage/dmd:2.080.0
    entrypoint: [""]
  dependencies:
      - dmd-ubuntu
      - dmd-fedora
  script:
    - apt-get update -y
    - apt-get install -y ruby ruby-dev rubygems build-essential libevent-dev rpm
    - gem install --no-ri --no-rdoc fpm
    - fpm --version
    - ls -lsah
    - pwd
    - ./trial --version
    - VE=`cat runner/trial/version_.d | grep trialVersion | cut -d \" -f 2 | cut -d "-" -f 1`-master
    - mkdir -p tmp/ubuntu/usr/local/bin
    - mkdir -p tmp/fedora/usr/local/bin
    - cp trial tmp/ubuntu/usr/local/bin
    - cp trial-fedora tmp/fedora/usr/local/bin/trial
    - cd tmp
    - fpm -s dir -t deb -n trial -v $VER --license MIT -m szabobogdan3@gmail.com --url "http://trial.szabobogdan.com" --description "The extensible test runner for DLang" -d "libssl1.0.0 > 0" ./ubuntu/usr/local/bin/=/usr/local/bin
    - fpm -s dir -t rpm -n trial -v $VER --license MIT -m szabobogdan3@gmail.com --url "http://trial.szabobogdan.com" --description "The extensible test runner for DLang" --depends "compat-openssl10" ./fedora/usr/local/bin/=/usr/local/bin
    - cd ..
  artifacts:
    paths:
      - tmp/*.rpm
      - tmp/*.deb

docker:
  stage: pack
  only:
    - tags
    - master
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_TAG: $CI_REGISTRY_IMAGE/dmd-2.080.0:$CI_COMMIT_REF_NAME
  dependencies:
    - dmd-ubuntu
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker info
  script:
    - cp trial docker/trial
    - cd docker
    - docker build --no-cache=true -t $IMAGE_TAG .
    - docker push $IMAGE_TAG

ubuntu-16.04:
  stage: test-package
  only:
    - tags
    - master
  image:
    name: ubuntu:16.04
  dependencies:
    - linux-packages
  script:
    - ls -lsa
    - pwd
    - ls -lsa tmp
    - apt-get update -y || true
    - apt-get install -y libssl1.0.0
    - dpkg -i tmp/*.deb
    - trial --version

ubuntu-18.04:
  stage: test-package
  only:
    - tags
    - master
  image:
    name: ubuntu:18.04
  dependencies:
    - linux-packages
  script:
    - ls -lsa
    - pwd
    - ls -lsa tmp
    - apt-get update -y || true
    - apt-get install -y libssl1.0.0
    - dpkg -i tmp/*.deb
    - trial --version

ubuntu-18.10:
  stage: test-package
  only:
    - tags
    - master
  image:
    name: ubuntu:18.10
  dependencies:
    - linux-packages
  script:
    - ls -lsa
    - pwd
    - ls -lsa tmp
    - apt-get update -y || true
    - apt-get install -y libssl1.0.0
    - dpkg -i tmp/*.deb
    - trial --version

fedora-28:
  stage: test-package
  only:
    - tags
    - master
  image:
    name: fedora:28
  dependencies:
    - linux-packages
  script:
    - ls -lsa
    - pwd
    - ls -lsa tmp
    - dnf update -y
    - dnf install -y compat-openssl10-1:1.0.2o-1.fc28.x86_64 
    - dnf install -y tmp/*.rpm
    - trial --version
