<nav class="site-nav">
  <div class="container site-nav-inner">
    <a class="site-nav-brand" href="/index.html">
      <img src="/assets/logo-small.svg" width="30" height="30" alt="trial">
    </a>
    <a class="site-nav-link" href="/about.html">About</a>
    <a class="site-nav-link" href="/doc.html">Docs</a>
    <a class="site-nav-link" href="/api/index.html">Api</a>
    <a class="site-nav-link" href="https://gitlab.com/szabobogdan3/trial">GitLab</a>
    <a class="button button-outline" href="/doc/getting-started.html">Get started</a>
  </div>
</nav>
