.form-inline {
  margin-bottom: 0;
}

.suite {
  margin-bottom: 30px;
}

.suite h1 {
  padding: 5px 10px 0 10px;
  margin-bottom: 0;
}

#test-results, #overview {
  margin: 100px 50px 10px 50px;
}

#view-options {
  margin-left: 50px;
}

.test-list {
  padding: 10px;
}

.test-list h2 {
  font-size: 20px;
}

.created h2 .result-icon,
.started h2 .result-icon,
.skip h2 .result-icon,
.unknown h2 .result-icon {
  color: #888;
}

.failure h2 .result-icon {
  color: #D8544F;
}

.skip h2 .result-icon, .pending h2 .result-icon{
  color: #62BFDD;
}

.success h2 .result-icon {
  color: #5CB75C;
}

.test pre {
  color: #fff;
  background-color: #333;
  padding: 10px;
}

.test .badge {
  font-size: 17px;
}

#overview .card-title {
  font-weight: bold;
  font-size: 30px;
}

.suite-overview {
  margin-left: 11px;
  margin-bottom: 0;
}
